@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  list-style-type: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  text-decoration: none;
  background-color: #fff;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}
.header__hero-section {
  box-shadow: 0 0 10px #050505;
  border-radius: 1.5em;
  height: 95vh;
  width: 85%;
  display: grid;
  grid-template-areas: "hero-section__left hero-section__right";
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-rows: repeat(1, minmax(0, 1fr));
}

.hero-section__right {
  background-image: url("/project-assests/images/adobe-products-on-tablet.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  grid-area: hero-section__right;
  border-top-right-radius: 1.5em;
  border-bottom-right-radius: 1.5em;
  position: relative;
  animation: switchBanner;
  animation-duration: 25s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.hero-section__right:hover {
  cursor: pointer;
  animation-play-state: paused;
}
.hero-section__right-navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: flex-end;
  padding: 0 5em;
  height: 10em;
  width: 100%;
  position: relative;
  overflow-x: hidden;
}

@keyframes switchBanner {
  0% {
    background-image: url("/project-assests/images/adobe-products-on-tablet.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  25% {
    background-image: url("/project-assests/images/cameras.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  50% {
    background-image: url("/project-assests/images/programming.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  75% {
    background-image: url("/project-assests/images/shiny-lens.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  100% {
    background-image: url("/project-assests/images/social-media-woman-laptop.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
.right-navigation__logo {
  height: 5em;
  width: 5em;
  display: none;
}
.right-navigation__logo img {
  border-radius: 100%;
  height: 100%;
  width: 100%;
}

.right-navigation__links {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  position: relative;
  transition: all 250ms ease-in-out 5ms;
  transform: translateX(1000px);
}
.right-navigation__links li {
  margin: 0 2em;
  transition: all 250ms ease-in-out 5ms;
}
.right-navigation__links li a {
  padding: 0;
  font-size: 1.4em;
  font-weight: 500;
  color: #fff;
  transition: all 250ms ease-in-out 5ms;
}
.right-navigation__links li a:hover {
  color: #b61b90;
}

.right-navigation__icon {
  background-image: url("/project-assests/icons/menu.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  width: 35px;
  height: 35px;
  filter: invert(1);
  transition: all 250ms ease-in-out 5ms;
}

.right-navigation__icon.nav--close {
  background-image: url("/project-assests/icons/close.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  width: 20px;
  height: 20px;
  filter: invert(1);
  transition: all 250ms ease-in-out 5ms;
}

.hero-section__right-navigation.view-overflow {
  overflow-x: visible;
}

.dropdown {
  position: absolute;
  display: none;
}
.dropdown li {
  margin: 1.5em 0;
}

.dropdown.active {
  display: block;
}

.hero-section__left {
  background-image: url("/project-assests/images/Display.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-top-left-radius: 1.5em;
  border-bottom-left-radius: 1.5em;
  grid-area: hero-section__left;
  position: relative;
  padding: 0 5em;
}

.left__social-media-icons {
  position: absolute;
  bottom: 0;
  height: 10em;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: flex-start;
}
.left__social-media-icons img {
  filter: invert(1);
  height: 30px;
  margin: 0 2em;
  transition: all 250ms ease-in-out 5ms;
  width: 30px;
}
.left__social-media-icons img:hover {
  transform: translateY(-5px);
  filter: invert(50);
  opacity: 0.5;
}

.hero-section__right-bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 10em;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  padding: 0 5em;
}

.btn {
  font-size: 2em;
  padding: 15px 30px;
  color: #fff;
  background: transparent;
  outline: 0;
  overflow: hidden;
  border: 2px solid #1b2540;
  cursor: pointer;
  position: relative;
  border-radius: 5px;
  transition: all 250ms ease-in-out 5ms;
}

.btn.btn:hover {
  box-shadow: 1px 1px 5px #1b2540;
  transform: scale(1.1);
}

.btn::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transform: translateX(-100%);
  background: linear-gradient(90deg, transparent, #1b2540, transparent);
  transition: all 500ms ease;
}

.btn:hover::before {
  left: 100%;
  transform: translateX(100%);
}

.right-bottom__glow {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(23, 252, 23);
  border-radius: 100%;
  border: none;
  box-shadow: 0 0 10px 2px rgb(23, 252, 23);
  cursor: pointer;
  height: 30px;
  width: 30px;
  animation: bubble_glow 4s alternate 0ms infinite;
  transition: all 250ms ease-in-out 5ms;
}

.glow__inner-circle {
  width: 12px;
  height: 12px;
  background: #ffffff;
  border: none;
  border-radius: 100%;
  filter: opacity(0.8);
}

.right-bottom__glow.close {
  animation: none;
  box-shadow: none;
  background: #262240;
}

.glow__inner-circle.close {
  background: #b61b90;
}

@keyframes bubble_glow {
  0% {
    transform: scale(1);
  }
  50% {
    box-shadow: 0 0 10px 3px rgb(23, 252, 23);
    filter: hue-rotate(220deg);
    transform: scale(1.19);
  }
  100% {
    transform: scale(1);
  }
}
@media (max-width: 430px) {
  .header {
    display: block;
    height: 50vh;
  }
  .header__hero-section {
    width: 100%;
    height: 50vh;
    border: none;
    box-shadow: none;
    border-radius: none;
    grid-template-areas: "hero-section__right";
    grid-template-columns: repeat(1, minmax(0, 1fr));
    grid-template-rows: repeat(1, minmax(0, 1fr));
  }
  .header__hero-section .hero-section__left {
    display: none;
  }
  .header__hero-section .hero-section__right {
    border-radius: 0;
  }
  .hero-section__right-navigation {
    justify-content: space-between;
    padding: 0 2.5em;
    height: 10em;
    width: 100%;
  }
  .right-navigation__logo {
    display: block;
  }
  .right-navigation__links {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 250ms ease-in-out 5ms;
  }
  .right-navigation__links li {
    margin: 0;
    transition: all 250ms ease-in-out 5ms;
  }
  .hero-section__right-bottom {
    bottom: 0;
    width: 100%;
    height: 20em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0;
  }
  .right-bottom__glow {
    margin-top: 15px;
  }
  .btn {
    font-size: 2em;
    padding: 8px 20px;
  }
}
.main {
  background-color: #262240;
  border-radius: 1.5em;
  padding: 2em 5em;
  width: 85%;
  margin-inline: auto;
}

.card {
  background: linear-gradient(to left top, #1b2540, #4f1440 40%, #4f1440 50%, #262240);
  border-radius: 1em;
  position: relative;
  height: 35em;
  overflow: hidden;
  transition: all 250ms ease-in-out 5ms;
}
.card:hover {
  cursor: pointer;
  transform: scale(1.025);
}

.main__overview {
  display: grid;
  grid-template-areas: "title title" "photography videography" "web-design graphic-design" "social-media-management .";
  grid-template-rows: repeat(4, minmax(0, auto));
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 2em;
}

.main__overview-title {
  grid-area: title;
  color: #fff;
  font-size: 5em;
  font-weight: 700;
  text-align: center;
}

.main__overview-photography {
  grid-area: photography;
  background-image: url("/project-assests/images/photography-animated.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.main__overview-videography {
  grid-area: videography;
  background-image: url("/project-assests/images/videography-animated.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.main__overview-graphic-design {
  grid-area: graphic-design;
  background-image: url("/project-assests/images/graphics-animated-2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.main__overview-web-development {
  grid-area: web-design;
  background-image: url("/project-assests/images/web-dev-animated.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.main__overview-social-media-management {
  grid-area: social-media-management;
  background-image: url("/project-assests/images/social-media-mgt-animated.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card__description {
  position: absolute;
  bottom: 0;
  background: rgba(22, 15, 59, 0.6);
  border-bottom-right-radius: 1em;
  border-bottom-right-radius: 1em;
  width: 100%;
  padding: 0.5em 2em;
  transition: all 250ms ease-in-out 5ms;
  transform: translateY(100px);
}
.card__description:hover {
  transform: translateY(0);
}

.min-description-title {
  color: #fff;
  margin-bottom: 10px;
  font-size: 2em;
}

.min-description {
  color: #fff;
  font-size: 1.6em;
  opacity: 0;
}
.min-description:hover {
  opacity: 1;
}

@media (max-width: 430px) {
  .card {
    height: 22em;
    border-radius: 0.5em;
  }
  .main {
    background-color: #262240;
    border-radius: 0;
    padding: 2em 2em;
    width: 100%;
  }
  .main__overview {
    grid-template-areas: "title" "photography" "videography" "web-design" "graphic-design" "social-media-management";
    grid-template-rows: repeat(6, minmax(0, auto));
    grid-template-columns: auto;
    gap: 2em;
  }
  .main__overview-title {
    font-size: 3em;
  }
  .card__description {
    border-bottom-right-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    transform: translateY(100px);
  }
  .min-description-title {
    font-size: 2em;
  }
  .min-description {
    font-size: 1.2em;
  }
  .right-navigation__links {
    display: none;
  }
}
.main__news {
  display: grid;
  grid-template-areas: "news" "news__description";
  grid-template-columns: auto;
  grid-template-rows: repeat(2, minmax(0, auto));
  gap: 2em;
  margin-top: 2em;
}

.main__news-title {
  grid-area: title;
  color: #fff;
  font-size: 5em;
  font-weight: 700;
  text-align: center;
  grid-area: news;
}

.main__news-container {
  grid-area: news__description;
  height: 50em;
  border-radius: 1.5em;
  box-shadow: 0 0 10px #050505;
  background-image: linear-gradient(to bottom, #000 70%, rgb(22, 15, 59) 70%);
}

.news__banner {
  width: 100%;
  height: 70%;
  border-top-right-radius: 1.5em;
  border-top-left-radius: 1.5em;
  background-image: url("/project-assests/images/gaming-set-up.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-position: top;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner__inner-content {
  grid-area: title;
  color: #fff;
  font-size: 5em;
  font-weight: 700;
  text-align: center;
  font-size: 8em;
  text-transform: uppercase;
  font-family: "Black Ops One", system-ui;
  mix-blend-mode: difference;
}

.news__description {
  width: 100%;
  height: 30%;
  padding: 0.5em 2em;
  font-size: 2em;
  color: #fff;
}

@media (max-width: 430px) {
  .main__news-container {
    height: 30em;
    border-radius: 0.5em;
    box-shadow: 0 0 10px rgba(5, 5, 5, 0.5);
  }
  .news__banner {
    border-top-right-radius: 0.5em;
    border-top-left-radius: 0.5em;
  }
  .main__news-title {
    font-size: 3em;
  }
  .banner__inner-content {
    font-size: 4.5em;
  }
  .news__description {
    font-size: 1.2em;
  }
}
.client-logo {
  height: 300px;
  width: 300px;
}

.swiper {
  margin-top: 2em;
  height: 50em;
  border-radius: 1.5em;
  width: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 50%;
  height: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 430px) {
  .swiper {
    height: 22em;
  }
}
.footer {
  display: grid;
  grid-template-areas: "footer__address hero-section__social-media-icons--footer footer__copyright";
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-template-rows: repeat(1, minmax(0, auto));
  padding: 2em 5em;
  width: 85%;
  background: #262240;
  margin-inline: auto;
  margin-top: 2em;
}

.footer__address {
  grid-area: footer__address;
  justify-self: center;
}

.hero-section__social-media-icons--footer {
  grid-area: hero-section__social-media-icons--footer;
}
.hero-section__social-media-icons--footer img {
  filter: invert(1);
  height: 30px;
  margin: 0 2em;
  transition: all 250ms ease-in-out 5ms;
  width: 30px;
}
.hero-section__social-media-icons--footer img:hover {
  transform: translateY(-5px);
  filter: invert(50);
  opacity: 0.5;
}

.footer__copyright {
  grid-area: footer__copyright;
  justify-self: center;
  align-self: center;
  color: #fff;
  font-size: 1.5em;
}

.address__title {
  grid-area: title;
  color: #fff;
  font-size: 5em;
  font-weight: 700;
  text-align: center;
  -moz-text-align-last: left;
       text-align-last: left;
  font-size: 4em;
  margin-bottom: 0.5em;
}

.address__description {
  color: #fff;
  text-align: justify;
  font-size: 1.5em;
}

.hero-section__social-media-icons--footer {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
}

@media (max-width: 430px) {
  .footer {
    grid-template-areas: "footer__address" "hero-section__social-media-icons--footer" "footer__copyright";
    grid-template-columns: repeat(1, minmax(0, 1fr));
    grid-template-rows: repeat(3, minmax(100px, auto));
    padding: 0.5em 2em;
    width: 100%;
    margin-top: 2em;
  }
  .hero-section__social-media-icons--footer {
    justify-self: start;
  }
  .footer__copyright {
    grid-area: footer__copyright;
    justify-self: start;
    color: #fff;
    font-size: 1.5em;
  }
  .address__title {
    font-size: 2em;
  }
}
.social-media-right {
  display: none;
}

.header__other-pages {
  display: grid;
  grid-template-areas: "hero-section__right";
  grid-template-columns: repeat(1, minmax(0, 1fr));
  grid-template-rows: repeat(1, minmax(0, 1fr));
}

.hero-section__left--other-pages {
  display: none;
}

.hero-section__right--other-pages {
  border-radius: 1.5em;
}

.social-media-right--other-pages {
  display: block;
  position: relative;
  height: auto;
  width: auto;
}

.right-navigation__logo--other-pages {
  display: block;
}

.hero-section__right-navigation--other-pages {
  justify-content: space-between;
}

.hero-section__right-bottom--other-pages {
  justify-content: space-evenly;
}

@media (max-width: 430px) {
  .social-media-right--other-pages {
    display: none;
  }
}
.btn__about-page {
  display: none;
}

.hero__about-page {
  background-image: url("/project-assests/images/Display.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  animation: none;
}
.hero__about-page:hover {
  cursor: default;
}

.about-statements__title {
  grid-area: title;
  color: #fff;
  font-size: 5em;
  font-weight: 700;
  text-align: center;
}

.description-conatiner__title {
  color: #fff;
  font-size: 3em;
  margin-bottom: 0.5em;
}

.description-container__description {
  color: #dddddd;
  font-size: 2em;
}

.about-statement__description-container {
  margin: 1em 0;
  padding: 0.5em 0;
}

@media (max-width: 430px) {
  .about-statements__title {
    font-size: 3em;
  }
  .description-conatiner__title {
    color: #fff;
    font-size: 2em;
    margin-bottom: 0.25em;
  }
  .description-container__description {
    color: #dddddd;
    font-size: 1.7em;
  }
}
.main__about-team {
  display: grid;
  grid-template-areas: "title title" "felix brave" "tiwo ayami" "ulunji .";
  grid-template-rows: repeat(4, minmax(0, auto));
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 2em;
}

.about-team__title {
  grid-area: title;
  grid-area: title;
  color: #fff;
  font-size: 5em;
  font-weight: 700;
  text-align: center;
}

.about-team__felix {
  grid-area: felix;
}

.about-team__brave {
  grid-area: brave;
}

.about-team__tiwo {
  grid-area: tiwo;
}

.about-team__ayami {
  grid-area: ayami;
}

.about-team__ulunji {
  grid-area: ulunji;
}

.card--profile {
  height: 55em;
  background: none;
}

.about-team__profile-picture {
  width: 100%;
  height: 65%;
}

.about-team__description {
  width: 100%;
  height: 35%;
  padding: 1em;
  background-color: #160f3b;
}

.profile-name {
  color: #fff;
  font-size: 2.8em;
  text-align: center;
}

.profile-title {
  color: rgb(25, 59, 161);
  font-size: 2em;
  text-align: center;
}

.profile-description {
  color: #ddd;
  font-size: 1.7em;
  bottom: 0;
  transform: translateY(0px);
  transition: all 250ms ease-in-out 5ms;
}
.profile-description:hover {
  background-color: rgb(22, 15, 59);
  transform: translateY(-100px);
  height: 100%;
}

.up-arrow {
  width: 20px;
  height: 16px;
  margin: 10px 0;
  display: block;
  margin-inline: auto;
  position: relative;
  transition: all 250ms ease-in-out 5ms;
  animation: animateDescription;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes animateDescription {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0px);
  }
}
.about-team__profile-picture--felix {
  background-image: url("/project-assests/images/team-felix.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.about-team__profile-picture--bravery {
  background-image: url("/project-assests/images/team-bravery.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.about-team__profile-picture--tiwo {
  background-image: url("/project-assests/images/team-teewo.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.about-team__profile-picture--ayami {
  background-image: url("/project-assests/images/team-petro.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.about-team__profile-picture--ulunji {
  background-image: url("/project-assests/images/team-ulunji.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media (max-width: 430px) {
  .main__about-team {
    grid-template-areas: "title" "felix" "brave" "tiwo" "ayami" "ulunji";
    grid-template-rows: repeat(6, minmax(0, auto));
    grid-template-columns: auto;
    gap: 2em;
  }
  .about-team__profile-picture {
    width: 100%;
    height: 60%;
  }
  .card--profile {
    height: 40em;
  }
  .about-team__description {
    height: 40%;
    padding: 0.5em;
  }
  .profile-name {
    font-size: 2.2em;
  }
  .profile-title {
    font-size: 1.8em;
  }
  .profile-description {
    font-size: 1.6em;
  }
}/*# sourceMappingURL=style.css.map */